{% extends "index.html" %}

{% block messages %}
{% if messages %}
  {% for category, message in messages %}
    {% if category == "success" %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif category == "info" %}
      <div class="alert alert-info" role="alert">{{ message }}</div>
    {% else %}
      <div class="alert alert-danger" role="alert">{{ message }} </div>
    {% endif %}
  {% endfor %}
{% endif %}
{% endblock %}

{% block h1 %}Сайт: {{ new_url }}{% endblock %}

{% block row %}{% endblock %}
{% block table_responsive %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" role="img" data-test="url">
    <tbody>
      <tr>
        <td>ID</td>
        <td>{{ id }}</td>
      </tr>
      <tr>
        <td>Имя</td>
        <td>{{ new_url }}</td>
      </tr>
      <tr>
        <td>Дата создания</td>
        <td>{{ created_at }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}

{% block mt_5mb_3 %}
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('url_checks', id=id) }}">
  <input class="btn btn-primary" type="submit" value="Запустить проверку">
</form>
{% endblock %}

{% block tabletable_borderedtable_hovermt_2 %}
<div>
  <table class="table table-bordered table-hover mt-2" data-test="checks">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {% for url_check in url_checks_list %}
      <tr>
        <td>{{ url_check.checks_id }}</td>
        <td>{{ url_check.checks_status_code }}</td>
        <td>{{ url_check.checks_h1 }}</td>
        <td>{{ url_check.checks_title }}</td>
        <td>{{ url_check.checks_description }}</td>
        <td>{{ url_check.checks_created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
